
templates.old
DataSaving
*.pyc
GoVersions
# Nuitka build files
build_nuitka/
*.build/
*.dist/
*.onefile-build/
build_cxfreeze
start_wrapper.py
BuildCache
.idea/CopilotChatTabs.xml
.idea/CopilotChatHistory.xml
.trae
.idea/OpenIDCS-Client.iml
